{% extends 'base.html.twig' %}

{% block body %}
    <div class="row bg-title">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <h4 class="page-title">Crear cliente</h4>
        </div>
        <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
            <a href="http://wrappixel.com/templates/pixeladmin/" target="_blank" class="btn btn-danger pull-right m-l-20 btn-rounded btn-outline hidden-xs hidden-sm waves-effect waves-light">Buy Now</a>
            <ol class="breadcrumb">
                <li><a href="{{path('cliente_index')}}">Clientes</a></li>
                <li class="active">Crear</li>
            </ol>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="white-box">
                {{ form_start(form) }}
                    <div class="row">
                        <div class="form-group col-md-4 col-sm-6">
                            {{form_label(form.nombre)}}
                            {{form_widget(form.nombre, { 'attr': {'class':'form-control'} })}}
                        </div>
                        <div class="form-group col-md-4 col-sm-6">
                            {{form_label(form.descripcion)}}
                            {{form_widget(form.descripcion, { 'attr': {'class':'form-control'} })}}
                        </div>
                        <div class="form-group col-md-4 col-sm-6">
                            {{form_label(form.nitCi)}}
                            {{form_widget(form.nitCi, { 'attr': {'class':'form-control'} })}}
                        </div>
                        <div class="checkbox checkbox-primary col-md-4 col-sm-6">
                            {{form_widget(form.estado, { 'attr': {'style':'font-weight: bold;'} })}}
                            {{form_label(form.estado)}}
                        </div>
                    </div>
                    
                    {{ form_widget(form) }}

                    <div class="form-btns">
                        <button type="submit" class="btn btn-success btn-outline">Crear</button>
                        <a href="{{ path('cliente_index') }}" class="btn btn-info btn-outline">Volver a clientes</a>
                    </div>
                {{ form_end(form) }}
                
            </div>
        </div>
    </div>

{% endblock %}
