{% extends 'base.html.twig' %}

{% block body %}
    <div class="row bg-title">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <h4 class="page-title">Editar proyecto</h4>
        </div>
        <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
            <a href="http://wrappixel.com/templates/pixeladmin/" target="_blank" class="btn btn-danger pull-right m-l-20 btn-rounded btn-outline hidden-xs hidden-sm waves-effect waves-light">Buy Now</a>
            <ol class="breadcrumb">
                <li><a href="{{path('proyecto_index')}}">Proyectos</a></li>
                <li class="active">Editar</li>
            </ol>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="white-box">
                {{ form_start(edit_form) }}
                    <div class="row">
                        <div class="form-group col-md-4 col-sm-6">
                            {{form_label(edit_form.nombre)}}
                            {{form_widget(edit_form.nombre, { 'attr': {'class':'form-control'} })}}
                        </div>
                        <div class="form-group col-md-4 col-sm-6">
                            {{form_label(edit_form.descripcion)}}
                            {{form_widget(edit_form.descripcion, { 'attr': {'class':'form-control'} })}}
                        </div>
                        <div class="form-group col-md-4 col-sm-6">
                            {{form_label(edit_form.ubicacion)}}
                            {{form_widget(edit_form.ubicacion, { 'attr': {'class':'form-control'} })}}
                        </div>
                        <div class="form-group col-md-4 col-sm-6">
                            {{form_label(edit_form.planoUbicacion)}}
                            {{form_widget(edit_form.planoUbicacion, { 'attr': {'class':'form-control'} })}}
                        </div>
                        <div class="checkbox checkbox-primary col-md-4 col-sm-6">
                            {{form_widget(edit_form.estado, { 'attr': {'style':'font-weight: bold;'} })}}
                            {{form_label(edit_form.estado)}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6 col-sm-6">
                            {{form_label(edit_form.cliente)}}
                            {{form_widget(edit_form.cliente, { 'attr': {'class':'form-control'} })}}
                        </div>
                        <div class="form-group col-md-6 col-sm-6">
                            {{form_label(edit_form.frecuenciaInforme)}}
                            {{form_widget(edit_form.frecuenciaInforme, { 'attr': {'class':'form-control'} })}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4 col-sm-6">
                            {{form_label(edit_form.presupuestoInicial)}}
                            {{form_widget(edit_form.presupuestoInicial, { 'attr': {'class':'form-control'} })}}
                        </div>
                        <div class="form-group col-md-4 col-sm-6">
                            {{form_label(edit_form.fechaInicio)}}
                            {{form_widget(edit_form.fechaInicio, { 'attr': {'class':'form-control'} })}}
                        </div>
                        <div class="form-group col-md-4 col-sm-6">
                            {{form_label(edit_form.fechaFin)}}
                            {{form_widget(edit_form.fechaFin, { 'attr': {'class':'form-control'} })}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4 col-sm-6">
                            {{form_label(edit_form.prorroga1)}}
                            {{form_widget(edit_form.prorroga1, { 'attr': {'class':'form-control'} })}}
                        </div>
                        <div class="form-group col-md-4 col-sm-6">
                            {{form_label(edit_form.prorroga2)}}
                            {{form_widget(edit_form.prorroga2, { 'attr': {'class':'form-control'} })}}
                        </div>
                        <div class="form-group col-md-4 col-sm-6">
                            {{form_label(edit_form.prorroga3)}}
                            {{form_widget(edit_form.prorroga3, { 'attr': {'class':'form-control'} })}}
                        </div>
                    </div>
                    
                    {{ form_widget(edit_form) }}
                    <div class="form-btns">
                        <input type="submit" value="Editar" class="btn btn-success btn-outline" />
                        <a href="{{ path('proyecto_index') }}" class="btn btn-info btn-outline"> Volver a proyectos</a>    
                    </div>
                    <div class="form-btn-eliminar">
                        {{ form_start(delete_form) }}
                            <input type="submit" value="Eliminar" class="btn btn-danger btn-outline">
                        {{ form_end(delete_form) }}
                    </div>
                    
                {{ form_end(edit_form) }}

            </div>
        </div>
    </div>
{% endblock %}
