{% extends 'base.html.twig' %}

{% block body %}
    <div class="row bg-title">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <h4 class="page-title">Crear usuario</h4>
        </div>
        <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
            <a href="#" target="_blank" class="btn btn-danger pull-right m-l-20 btn-rounded btn-outline hidden-xs hidden-sm waves-effect waves-light">Buy Now</a>
            <ol class="breadcrumb">
                <li><a href="{{path('usuario_index')}}">Usuarios</a></li>
                <li class="active">Crear</li>
            </ol>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="white-box">
                {{ form_start(form) }}
                    <div class="row">
                        <div class="form-group col-md-4 col-sm-6">
                            {{form_label(form.usuario)}}
                            {{form_widget(form.usuario, {'attr':{'class':'form-control'} })}}
                        </div>
                        <div class="form-group col-md-4 col-sm-6">
                            {{form_label(form.password)}}
                            {{form_widget(form.password, {'attr':{'class':'form-control'} })}}
                        </div>
                        <div class="checkbox checkbox-primary col-md-4 col-sm-6" style="padding-top:20px; padding-left:50px">
                            {{form_widget(form.estado, { 'attr': {'style':'font-weight: bold;'} })}}
                            <label for="appbundle_usuario_estado" >El usuario esta activo</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4 col-sm-6">
                            {{form_label(form.empleado)}}
                            {{form_widget(form.empleado, {'attr':{'class':'form-control'} })}}
                        </div>
                    </div>
                    {{ form_widget(form) }}
                    <div class="form-btns">
                        <input type="submit" value="Crear" class="btn btn-success btn-outline" />    
                        <a href="{{ path('usuario_index') }}" class="btn btn-info btn-outline">Volver a usuarios</a>
                    </div>
                    
                {{ form_end(form) }}

            </div>
        </div>
    </div>
    
{% endblock %}
