{% extends 'base.html.twig' %}

{% block body %}
    <div class="row bg-title">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <h4 class="page-title">Frecuencia de informe</h4>
        </div>
        <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
            <a href="#" target="_blank" class="btn btn-danger pull-right m-l-20 btn-rounded btn-outline hidden-xs hidden-sm waves-effect waves-light">Buy Now</a>
            <ol class="breadcrumb">
                <li><a href="{{path('frecuenciainforme_index')}}">Frecuencias de informe</a></li>
                <li class="active">Frecuencia de informe</li>
            </ol>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="white-box">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <th>Id</th>
                            <td>{{ frecuenciaInforme.id }}</td>
                        </tr>
                        <tr>
                            <th>Frecuencia de Informe</th>
                            <td>{{ frecuenciaInforme.frecuenciaInforme }}</td>
                        </tr>
                    </tbody>
                </table>
                <div class="form-btns">
                    <a href="{{ path('frecuenciainforme_edit', { 'id': frecuenciaInforme.id }) }}" class="btn btn-success btn-outline">Editar</a>
                    <a href="{{ path('frecuenciainforme_index') }}" class="btn btn-info btn-outline">Volver a frecuencias</a>
                </div>
                <div class="form-btn-eliminar">
                    {{ form_start(delete_form) }}
                        <input type="submit" value="Eliminar" class="btn btn-danger btn-outline">
                    {{ form_end(delete_form) }}
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}
